/*resets*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*global*/
/*colors*/
/*Standard changes*/
html {
  font-size: 62.5%;
  /*1 rem = 10 px*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  /*new standard font*/
}

body {
  background-color: #ececec;
}

.outline {
  max-width: 180rem;
  background-color: white;
  padding: 1.5rem;
  margin: auto;
}

h1, h2,
h3, h4,
h5, h6,
p,
button,
ul, li {
  color: white;
}

p {
  font-size: 1.6rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*mixins*/
/*navigation/hero*/
.hero {
  width: 100%;
  height: 74rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../img/heroImgDesktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  /*article hero section*/
  /*search bar in hero section*/
}

.hero .hero-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13rem;
  max-width: 40rem;
}

.hero .hero-article .hero-article_heading {
  font-size: 4.8rem;
  letter-spacing: 0.4rem;
}

.hero .hero-article .hero-article_paragraph {
  font-size: 2.2rem;
  letter-spacing: 0.6rem;
}

.hero .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 65.3rem;
  height: 6.3rem;
}

.hero .searchBar input {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 1rem;
          flex: 4 1 1rem;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 2.8px;
  color: black;
}

.hero .searchBar input::-webkit-input-placeholder {
  font-size: 1.4rem;
  letter-spacing: 2.8px;
  color: #999999;
}

.hero .searchBar input:-ms-input-placeholder {
  font-size: 1.4rem;
  letter-spacing: 2.8px;
  color: #999999;
}

.hero .searchBar input::-ms-input-placeholder {
  font-size: 1.4rem;
  letter-spacing: 2.8px;
  color: #999999;
}

.hero .searchBar input::placeholder {
  font-size: 1.4rem;
  letter-spacing: 2.8px;
  color: #999999;
}

.hero .searchBar input:hover {
  background-color: #eeeeee;
}

.hero .searchBar input:focus {
  outline: none;
}

.hero .searchBar button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 3rem;
          flex: 1 1 3rem;
  background-color: #5474FD;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
  border: none;
  height: 90%;
  margin: 0 3px;
}

.hero .searchBar button:hover {
  background-color: #435ac4;
  cursor: pointer;
}

.hero .scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14rem;
  letter-spacing: 0.28rem;
}

header {
  width: 100%;
  height: 8.5rem;
  margin: auto;
  background-color: #5474FD;
}

header .wrapper {
  max-width: 115rem;
  height: 100%;
  margin: auto;
}

header .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

header .wrapper nav .headerLogo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1rem;
          flex: 1 1 1rem;
  font-size: 2.4rem;
  letter-spacing: 0.24rem;
}

header .wrapper nav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 17rem;
          flex: 2 1 17rem;
}

header .wrapper nav .navList .navList-item {
  padding: 0 2rem;
  max-width: 17rem;
}

header .wrapper nav .navList .navList-item a {
  font-size: 1.4rem;
}

/*sections*/
.sectionOne {
  width: 100%;
  height: 68.5rem;
  margin: auto;
  background: url(../../img/sectionOneBgImgDesktop.jpg);
}

.sectionOne .wrapper {
  max-width: 115rem;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*imgage container*/
}

.sectionOne .wrapper .sectionOne-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1rem;
          flex: 1 1 1rem;
  max-width: 56rem;
  min-width: 25rem;
  height: 35rem;
}

.sectionOne .wrapper .sectionOne-article .sectionOne-article_heading {
  font-size: 3.6rem;
  letter-spacing: 0.16rem;
  line-height: 2.6rem;
}

.sectionOne .wrapper .sectionOne-article .sectionOne-article_paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
  line-height: 2.6rem;
}

.sectionOne .wrapper .sectionOne-article .sectionOne-artcle_btn {
  background-color: #5474FD;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
  border: none;
  width: 23rem;
  height: 6.3rem;
}

.sectionOne .wrapper .sectionOne-article .sectionOne-artcle_btn:hover {
  background-color: #435ac4;
  cursor: pointer;
}

.sectionOne .wrapper .imgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1rem;
          flex: 1 1 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionOne .wrapper .imgContainer .sectionOne-img_first {
  margin-bottom: 1rem;
}

.sectionOne .wrapper .imgContainer .sectionOne-img_second {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.sectionTwo {
  width: 100%;
  height: 34rem;
  margin: auto;
  background-color: #333333;
}

.sectionTwo .wrapper {
  max-width: 115rem;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionTwo .wrapper .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 16rem;
}

.sectionTwo .wrapper .logoContainer .sectionTwo-heading {
  font-size: 3rem;
}

.sectionTwo .wrapper .svgContainer {
  display: none;
}

.sectionThree {
  width: 100%;
  height: 70rem;
  margin: auto;
  background: url(../../img/sectionThreeBgImgDesktop.jpg);
}

.sectionThree .wrapper {
  max-width: 115rem;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionThree .wrapper .sectionThree-bookNow_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #232323ef;
  width: 54rem;
  height: 37rem;
  padding: 0 5rem;
}

.sectionThree .wrapper .sectionThree-bookNow_article .bookNow-article_subHeading {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  line-height: 2.6rem;
}

.sectionThree .wrapper .sectionThree-bookNow_article .bookNow-article_heading {
  font-size: 2rem;
  line-height: 2.6rem;
}

.sectionThree .wrapper .sectionThree-bookNow_article .bookNow-article_paragraph {
  margin: 2rem 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.sectionThree .wrapper .sectionThree-bookNow_article .bookNow-article_btn {
  margin-top: 2rem;
  width: 22.8rem;
  height: 6.3rem;
  border: none;
  background-color: #5474FD;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
}

.sectionThree .wrapper .sectionThree-bookNow_article .bookNow-article_btn:hover {
  background-color: #435ac4;
  cursor: pointer;
}

.sectionFour {
  width: 100%;
  height: 70rem;
  margin: auto;
  background: url(../../img/sectionFourBgImgDesktop.jpg);
}

.sectionFour .wrapper {
  max-width: 115rem;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionFour .wrapper .sectionFour-bookNow_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #232323e8;
  width: 54rem;
  height: 37rem;
  padding: 0 5rem;
}

.sectionFour .wrapper .sectionFour-bookNow_article .bookNow-article_subHeading {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  line-height: 2.6rem;
}

.sectionFour .wrapper .sectionFour-bookNow_article .bookNow-article_heading {
  font-size: 2rem;
  line-height: 2.6rem;
}

.sectionFour .wrapper .sectionFour-bookNow_article .bookNow-article_paragraph {
  margin: 2rem 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.sectionFour .wrapper .sectionFour-bookNow_article .bookNow-article_btn {
  margin-top: 2rem;
  width: 22.8rem;
  height: 6.3rem;
  border: none;
  background-color: #5474FD;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
}

.sectionFour .wrapper .sectionFour-bookNow_article .bookNow-article_btn:hover {
  background-color: #435ac4;
  cursor: pointer;
}

.sectionFive {
  width: 100%;
  height: 73.1rem;
  margin: auto;
  background: url(../../img/sectionFiveBgImgDesktop.jpg);
}

.sectionFive .wrapper {
  max-width: 115rem;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionFive .wrapper .sectionFive-heading {
  height: 10rem;
  font-size: 3.6rem;
  line-height: 2.6rem;
}

.sectionFive .wrapper .sectionFive-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 29rem;
}

.sectionFive .wrapper .sectionFive-article .sectionFive-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 27rem;
          flex: 1 1 27rem;
}

.sectionFive .wrapper .sectionFive-article .sectionFive-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionFive .wrapper .sectionFive-article .sectionFive-textContainer {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 1rem;
          flex: 4 1 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  height: 98%;
  width: 100%;
}

.sectionFive .wrapper .sectionFive-article .sectionFive-textContainer .sectionFive-article_heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5%;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

.sectionFive .wrapper .sectionFive-article .sectionFive-textContainer .sectionFive-article_paragraph {
  max-width: 90%;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/*footer*/
footer {
  width: 100%;
  height: 27rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232323;
}

footer .footerContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15rem;
}

footer .footerContentContainer .footerLogo {
  font-size: 2.4rem;
  letter-spacing: 0.33rem;
  line-height: 2.6rem;
}

footer .footerContentContainer .footer-paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
  line-height: 2.6rem;
  text-align: center;
  margin: 1rem;
}

footer .footerContentContainer .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContentContainer .footerIcons li {
  margin: 1rem;
}

footer .footerContentContainer .footerIcons .fab {
  font-size: 1.6rem;
}

footer .footerContentContainer .footerIcons .fab:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #435ac4;
}

footer .footerContentContainer .footerIcons .fa-linkedin-in {
  color: #5474FD;
}
/*# sourceMappingURL=index.css.map */