
/*colors*/
$mainFontColor: rgb(255, 255, 255);
$mainColor: #5474FD;

$mainBackgroundColor:#333333;

$mainBtnHover: #435ac4;

/*Standard changes*/
html{
    font-size: 62.5%;
    /*1 rem = 10 px*/
}

body{ 
    background-color: #ececec;
}

.outline{
    max-width:180rem;
    background-color: white;
    padding: 1.5rem;
    margin:auto;
}

h1, h2,
h3, h4, 
h5, h6, 
p, 
button,
ul, li {
    color:$mainFontColor;
}

p{
    font-size: 1.6rem;
}

a{
    color:$mainFontColor;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*mixins*/
@mixin sectionSize ($height){
    width: 100%;
    height: $height;
    margin: auto;
}

@mixin wrapperSize ($height){
    max-width: 115rem;
    height: $height;
    margin: auto;
}

@mixin flex ($flex-direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content:$justify-content;
    align-items: $align-items;
}