

.hero{
    @include sectionSize(74rem);
    @include flex(column, center, center);
    background: url(../../img/heroImgDesktop.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    /*article hero section*/
    .hero-article{
        @include flex(column, flex-start, center);
        height: 13rem;
        max-width: 40rem;

        .hero-article_heading{
            font-size: 4.8rem;
            letter-spacing: 0.4rem;
        }

        .hero-article_paragraph{
            font-size: 2.2rem;
            letter-spacing: 0.6rem;

        }
    }

    /*search bar in hero section*/
    .searchBar{
        @include flex(row, center, center);
        background: white;
        width: 65.3rem;
        height: 6.3rem;

        input{
            flex:4 1 1rem;
            
            height: 100%;

            border: none;
            text-align: center;

            font-size: 1.4rem;
            letter-spacing: 2.8px;
            color: black;
        }

            input::placeholder{
                font-size: 1.4rem;
                letter-spacing: 2.8px;
                color: #999999;
            }
            input:hover{
                background-color: rgb(238, 238, 238);
            }

                input:focus{
                    outline: none;
                }

        button{
            flex:1 1 3rem;
            
            background-color: $mainColor;
            border: none;
            height: 90%;
            margin: 0 3px;
        }
            button:hover{
                background-color: $mainBtnHover;
                cursor: pointer;
            }
    }

    .scrollDown{
        @include flex(column, flex-end, center);
        height: 14rem;

        letter-spacing: 0.28rem;
    }
}