.sectionTwo{
    @include sectionSize(34rem);
    background-color: $mainBackgroundColor;
    .wrapper{
        @include wrapperSize(100%);
        @include flex(row, space-evenly, center);
        position: relative;

        .logoContainer{
            position:relative;
            z-index: 2;
            @include flex(column, space-around, center);
            width: 20rem;
            height: 16rem; 

            .backgroundIcon{
                @include flex(row, center, center);
                border-radius: 50%;
                background-color:$mainBackgroundColor;
                width: 50%;
                height: 50%;
            }

            .sectionTwo-heading{
                font-size: 3rem;
            }
        }
        .svgContainer{
            position: absolute;
            z-index: 1;
            top: 20%;
            width: 60%;
        }
    }
}

/*mobiles*/
@media only screen and (max-width: 750px) {
    .sectionTwo{

        
        .wrapper{
            @include wrapperSize(100%);
            @include flex(row, space-evenly, center);
    
            .logoContainer{
                @include flex(column, space-around, center);
                width: 20rem;
                height: 16rem; 
    
                .sectionTwo-heading{
                    font-size: 1.4rem;
                }

                .iconOne, .iconTwo, .iconThree
                {
                    transform: scale(0.6);
                }
            }
        }
    }
}