.sectionThree{
    @include sectionSize(70rem);
    background: url(../img/sectionThreeBgImgDesktop.webp);
    .wrapper{
        @include wrapperSize(100%);
        @include flex(row, flex-start, center);

        .sectionThree-bookNow_article{
            @include flex(column, flex-start, flex-start);
            background: #232323ef;
            width: 54rem;
            height: 37rem;
            padding: 0 5rem;

            .bookNow-article_subHeading{
                font-size: 2rem;
                letter-spacing: 0.15rem;
                line-height: 2.6rem;
            }

            .bookNow-article_heading{
                font-size: 2rem;
                line-height: 2.6rem;
            }

            .bookNow-article_paragraph{
                margin: 2rem 0;

                font-size: 1.6rem;
                line-height: 2.6rem;
            }

            .bookNow-article_btn{
                margin-top: 2rem;
                width: 22.8rem;
                height: 6.3rem;

                border: none;

                background-color: $mainColor;
                font-size: 1.6rem;
                letter-spacing: 0.16rem;

                position: relative;

                .btnDec{
                    content: url(../svg/btnDecor.svg);
                    position: absolute;
                    z-index: 1;
                    right: 24%;
                    bottom:0%;

                    height: 100%;
                    width: 100%;
                    
                }
                .btnText{
                    position: absolute;
                    z-index: 1;
                    right: 24%;
                    bottom: 35%;
                }
            }

            .bookNow-article_btn:hover{
                background-color: $mainBtnHover;
                cursor: pointer;
            }
        }

    }
}

/*mobiles*/
@media only screen and (max-width: 750px) {

    .sectionThree{
        .wrapper{
            @include wrapperSize(100%);
            @include flex(row, center, center);
    
        }
    }
  
}

@media only screen and (max-width: 450px) {
    
    .sectionThree{
        @include sectionSize(40rem);
        .wrapper{
            .sectionThree-bookNow_article{
                @include flex(column, flex-start, flex-start);
                background: #232323ef;
                max-width: 54rem;
                max-height: 37rem;
                padding: 0 1rem;

                .bookNow-article_paragraph{
                    margin: 1rem 0;
    
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                }
    
            }
    
        }
    }
  
}