.sectionFive{
    @include sectionSize(73.1rem);
    background: url(../img/sectionFiveBgImgDesktop.jpg);

    .wrapper{
        @include wrapperSize(100%);
        @include flex(column, center, center);

        .sectionFive-heading{
            height: 10rem;

            font-size: 3.6rem;
            line-height: 2.6rem;

        }

        .sectionFive-article{
            @include flex(row, center, center);
            min-height: 29rem;

            .sectionFive-img{
                flex: 1 1 27rem;
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
            .sectionFive-textContainer{
                flex: 4 1 1rem;

                @include flex(column, center, center);
                background-color: $mainBackgroundColor;
                height: 98%;
                width: 100%;

                    .sectionFive-article_heading{
                        align-self: flex-start;
                        margin-left: 5%;
                        font-size: 2rem;
                        line-height: 2.6rem;

                        margin-bottom: 2rem;
                    }
                    
                    .sectionFive-article_paragraph{
                        max-width: 90%;
                        font-size: 1.6rem;
                        line-height: 2.6rem;

                        span{
                            color: $mainColor;
                            font-size: 2rem;
                        }

                    }
            }

        }
    }
}


@media only screen and (max-width:850px) {

    .sectionFive{
        @include sectionSize(73.1rem);
        background: url(../../img/sectionFiveBgImgDesktop.jpg);
    
        .wrapper{
            @include wrapperSize(100%);
            @include flex(column, center, center);
    
            .sectionFive-heading{
                max-height: 10rem;
                font-size: 2.6rem;
            }
    
            .sectionFive-article{
                .sectionFive-textContainer{

                        .sectionFive-article_heading{
                            font-size: 1.6rem;
                            margin-bottom: 1rem;
                        }
                        .sectionFive-article_paragraph{
                            max-width: 90%;
                            font-size: 1.2rem;
                            line-height: 1.6rem;
    
                            span{
    
                            }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width:550px) {

    .sectionFive{
        @include sectionSize(60rem);
        background: url(../../img/sectionFiveBgImgDesktop.jpg);
    
        .wrapper{
            @include wrapperSize(100%);
            @include flex(column, center, center);
    
            .sectionFive-heading{
                max-height: 5rem;
                font-size: 2.6rem;
            }
    
            .sectionFive-article{
                @include flex(column, center, center);

                .sectionFive-img{
                    flex: 1 1 27rem;
                    img{
                        width: 90%;
                        margin: auto;
                    }
                }
                .sectionFive-textContainer{
                    max-width: 90%;

                        .sectionFive-article_heading{
                            font-size: 1.6rem;
                            margin-bottom: 1rem;
                        }
                        .sectionFive-article_paragraph{
                            max-width: 90%;
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                         }
                }
            }
        }
    }

}