.sectionOne{
    @include sectionSize(68.5rem);
    background: url(../img/sectionOneBgImgDesktop.webp);
    .wrapper{
        @include wrapperSize(100%);
        @include flex(row, space-between, center);
        flex-wrap: wrap;

        .sectionOne-article{
            @include flex(column, space-around, flex-start);
            flex: 1 1 1rem;
            max-width: 56rem;
            min-width: 25rem;
            height: 35rem;

            .sectionOne-article_heading{
                font-size: 3.6rem;
                letter-spacing: 0.16rem;
                line-height: 2.6rem;

            }

            .sectionOne-article_paragraph{
                font-size: 1.6rem;
                letter-spacing: 0.16rem;
                line-height: 2.6rem;
            }

            .sectionOne-artcle_btn{
                background-color: $mainColor;
                
                font-size: 1.6rem;
                letter-spacing: 0.16rem;

                border: none;
                width: 23rem;
                height: 6.3rem;

                position: relative;

                .btnDec{
                    content: url(../svg/btnDecor.svg);
                    position: absolute;
                    z-index: 1;
                    right: 25.5%;
                    bottom:0%;

                    height: 100%;
                    width: 100%;
                    
                }
                .btnText{
                    position: absolute;
                    z-index: 1;
                    right: 12%;
                    bottom: 35%;
                }
            }
                .sectionOne-artcle_btn:hover{
                    background-color: $mainBtnHover;
                    cursor: pointer;
                }
        }
        /*img container*/
        .imgContainer{
            flex:1 1 1rem;
            @include flex(column, flex-start, center);

            .sectionOne-img_first{
                margin-bottom: 1rem;
                width: 100%;
                max-width: 35rem;
                height: 100%;

            }
            .sectionOne-img_second{
                align-self: flex-end;
                width: 100%;
                max-width: 35rem;
                height: 100%;
            }
        }
    }
}


/*mobiles*/
@media only screen and (max-width: 750px) {

    .sectionOne{
        .wrapper{
            @include flex(column, space-around, center);

            .sectionOne-article{
                @include flex(column, space-evenly, space-around);
                flex: 1 1 1rem;
                max-height: 50rem;
                max-width: 35rem;
    
                .sectionOne-article_heading{
                    font-size: 2rem;
                    letter-spacing: 0.16rem;
                    line-height: 2.6rem;
    
                }
    
                .sectionOne-article_paragraph{
                    font-size: 1.6rem;
                    letter-spacing: 0.1rem;
                    line-height: 2rem;
                }
    
                .sectionOne-artcle_btn{
                    margin-top: 1rem;
                    align-self: flex-end;
                    font-size: 1rem;

                    width: 15rem;
                    height: 6.3rem;
                }
                    .sectionOne-artcle_btn:hover{
                        background-color: $mainBtnHover;
                        cursor: pointer;
                    }
                }

                /*img container*/
                .imgContainer{
                    flex:1 1 1rem;

                    @include flex(row, flex-start, center);
                    max-height: 25rem;
                    
                    .sectionOne-img_second{
                       display: none;
                    }
                }
            

        }
    }
}

